html {
  font-size: 14px;
}

.pb-3 {
  min-height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/images/noScreenPokedex.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

#nav-ball {
  height: 50px;
  width: 50px;
  margin: 0 0.5em;
}
#nav-ball:hover { cursor: pointer; }

.footer-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -1.25em;
}

.main-text-center {
  /* border: 5px solid moccasin; */
  margin-top: 2em; 
  height: 400px;
  width: 400px;
  background-image: url('/images/nicePokedex.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.pokemonCard {
  margin-top: 1em;
  background-image: url('/images/pokemontemplate.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: url('/images/pokemontemplate.png') no-repeat center/cover; */

}

.pokemon-text-container1 {
  color: gray;
  font-weight: bold;
  text-align: center;
  list-style-type: none;
  opacity: 0.1;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
